@model IEnumerable<DoAn3.Models.ChiTietDonHangBan>
@{
    ViewBag.Title = "ViewCart";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!--================Home Banner Area =================-->
<!-- breadcrumb start-->
<section class="breadcrumb breadcrumb_bg">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="breadcrumb_iner">
                    <div class="breadcrumb_iner_item">
                        <h2>Cart Products</h2>
                        <p>Home <span>-</span>Cart Products</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- breadcrumb start-->
<!--================Cart Area =================-->
<section class="cart_area padding_top">
    <div class="container">
        <div class="cart_inner">
            <div class="table-responsive">
                @if (Model != null)
                {
                    using (Html.BeginForm("UpdateCart", "Home", FormMethod.Post))
                    {
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">Hình ảnh</th>
                                    <th scope="col">Tên đồ nội thất</th>
                                    <th scope="col">Giá</th>
                                    <th scope="col">Số lượng</th>
                                    <th scope="col">Tổng tiền</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    double tongtien = 0;
                                    double gia = 0;
                                }
                                @foreach (var i in Model)
                                {
                                    <tr>

                                        <td>
                                            <div class="media">
                                                <div class="d-flex">
                                                    <img src="@i.DoNoiThat.HinhAnh" style="width:100px" />
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            <div>@i.DoNoiThat.TenDNT</div>
                                        </td>
                                        <td>
                                            <div>@i.DoNoiThat.Gia</div>
                                        </td>
                                        <td>
                                            <h5><input name="count" type="number" min="1" value="@i.SoLuong" /></h5>
                                        </td>
                                        <td>
                                            @if (i.SoLuong == 1)
                                            {
                                                <h5>@i.DoNoiThat.Gia</h5>
                                                gia = Convert.ToDouble(i.DoNoiThat.Gia);
                                            }
                                            else
                                            {
                                                <h5>@i.Gia</h5>
                                                gia = Convert.ToDouble(i.Gia);
                                            }

                                        </td>
                                        <td class="text-center">
                                            <a href="@Url.Action("DeleteCart", "Home", new { productid = i.MaDNT })">
                                                <i class="ti-trash remove-icon text-danger"></i>
                                            </a>
                                        </td>
                                    </tr>
                                    tongtien += gia;
                                }
                                <tr>
                                    <td>
                                        <a href="@Url.Action("Index", "Home")" class="btn btn-sm btn-success">Mua thêm sản phẩm</a>
                                        
                                    </td>
                                    <td>
                                        <input class="btn btn-sm btn-info" name="Update" value="Cập nhật giỏ hàng" type="submit">
                                        <a style="margin-left:5%" href="@Url.Action("Checkout", "Home")" class="btn btn-sm btn-primary">Thanh toán</a>
                                    </td>
                                    <td>@tongtien</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                            </tbody>
                        </table>
                    }
                }
                else
                {
                    <h1> Không có sản phẩm trong giỏ hàng</h1 >
                }
                @*<div class="checkout_btn_inner float-right">
                    <a class="btn_1" href="#">Continue Shopping</a>
                    <a class="btn_1 checkout_btn_1" href="#">Proceed to checkout</a>
                </div>*@
            </div>
        </div>
    </div>
</section>
<!--================End Cart Area =================-->
